
<div fxLayout="column" fxLayoutAlign="space-between center">
    <div>
        <a href="https://www.seduc.ce.gov.br/" target="_blank">
          <img src="assets/img/governo.png" width="200" heigth="100"/>
        </a>  
      
    </div>
    <br/>
    <div>
      <a style="font-size: 10px">© 2022 . Todos Direitos Reservados</a> 
    </div>
    <br/>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div id="facebook">
        <i class="fa fa-facebook-square fa-2x" aria-hidden="true" ></i>
      </div>
      <div id="instagram">
        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
      </div>
    </div>
  
 
</div>
